header {
    top: 0;
    width: 100vw;
    position: absolute;
    margin-bottom: 1em;
    color: #3E6C61;
    background-color: #E6E6E6;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon{
    margin-left: 5vw;
    font-size: 28px;
}

.user-icon-a{
    color: #333333;
}